<html>
    <head>
        <!-- General setting -->
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="en-us">
        <base href="{global.baseUrl}">

        <!-- meta tags -->
        <title>{head.title} | {global.appName}</title>
        <meta name="description" content="{head.description}">

        <!-- Static assets -->
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <script src="public/app.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="public/style.css" type="text/css" />
        
    </head>
    <body>
            <!-- Page wrapper -->
        <div class="wrapper"> 
            <!-- Header -->
            <div class="header">

            </div>

        <!-- Page specific content -->
        <div class="content">